# Gatus SMTP / alerting variables
SMTP_PASSWORD=your_smtp_password
SMTP_USERNAME=your_smtp_username
SMTP_PORT=587
SMTP_HOST=smtp.example.com
SMTP_FROM_EMAIL=monitor@example.com
ALERT_EMAIL=alerts@example.com
